* {
    padding: 0;
    margin: 0;
    color: #333;
}
header {
    height: 70px;
}

header h1 {
    display: inline-block;
    padding: 15px 24px;
    text-transform: uppercase;
}

header h1 a {
    transition: .3s;
}

header h1 a:hover {
    color: #f84744;
}

header ul {
    float: right;
}

header ul li {
    padding: 10px 5px;
    display: inline-block;
}

header ul li a:hover {
    text-decoration: underline;
}

header ul li a {
    transition: .3s;
}
header ul li a img{
    width: 32px;
    height: 32px;
    border-radius: 150px;
    transform: translate(10px, 10px);
}
a {
    text-decoration: none;
}

.container {
    width: 90%;
    margin: auto;
}

.container::after {
    content:'';
    display: block;
    clear: both;
}
.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
}
.input span img{
    margin-top: -10px;
}
.input span{
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 500px;
    height: 4px;
    padding: 16px;
    border-radius: 100px;
    border: 1px solid;
}
.input input{
    background-color: #ffffff;
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 450px;
    height: 4px;
    padding: 12px;
    border: none;
}
.btn-1 input{
    display: grid;
    background-color: #ece9e9;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, 100%);
    padding: 5px;
    border: none;
    text-align: center;
    width: 105px;
}
.btn-2 input{
    display: grid;
    background-color: #ece9e9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(5%, 100%);
    padding: 5px;
    border: none;
    text-align: center;
    width: 105px;
}
.button input{
    display: grid;
    cursor: pointer;
}
.button input:hover{
    background-color: #b8b4b4;
}
.link{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 400%); 
    font-size: 13px;
}
.link a{
    color: blue;
    margin: 3px;
}
.link a:hover{
    text-decoration: underline;
}
hr{
    width: 100%;
}
.nav-1 ul li a{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1300px;
    transform: translate(-50%, 510%); 
    font-size: 13px;
    background-color: #ece9e9;
    padding: 20px;
    margin-left: 10px;
    color: rgb(58, 58, 199);
}
